body {
  overflow: hidden;
  padding: 5px;
}

.file-box {
  position: relative;
}

.file-input {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-frame {
  display: inline-block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #c3c3c3 #8b8b8b #8b8b8b #c3c3c3;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: linear-gradient(white, #878787);
  padding: 3px;
  position: absolute;
  border-color: #8b8b8b black black #8b8b8b;
  border-style: solid;
  border-width: 2px;
  top: 0px;
  right: 0px;
}

.file-button:active {
  border-color: black; 
}

#audio-box {
  display: flex;
}

.audio-button {
  height: 20px;
  margin-top: 20px;
  float: left;
  border-radius: 15px;
  border-color: #8b8b8b black black #8b8b8b;
  background: linear-gradient(white, #878787);
}

#time-line {
  float: left;
  flex: 1;
  height: 20px;
  background: grey;
  margin-top: 20px;
  align-items: stretch;
  border-radius: 15px;
}

#seeker {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 1px;
  background: grey;
}

#osmd-container {
  max-height: 100%;
  overflow: auto;
  position: relative;
}

#timepoint-selector {
  border-color: #8b8b8b black black #8b8b8b;
  border-style: solid;
  border-width: 2px;
  background: linear-gradient(white, #878787);
}

#timepoint-editor {
  border-color: #8b8b8b black black #8b8b8b;
  border-style: solid;
  border-width: 2px;
  background: linear-gradient(white, #878787);
}