body {
  overflow: hidden;
}

.file-box {
  position: relative;
}

.file-input {
  display: none;
}

.container {
  display: inline-block;
  width: 100%;
}

.file-frame {
  display: inline-block;
  width: 100%;
  border: 1px solid;
  padding: 5px 0px 5px 5px;
  box-sizing: border-box;
  height: calc(2rem - 2px);
}

.file-button {
  background: red;
  padding: 5px;
  position: absolute;
  border: 1px solid;
  top: 0px;
  right: 0px;
}

#audio-box {
  display: flex;
}

.audio-button {
  height: 20px;
  margin-top: 20px;
  float: left;
  border-radius: 15px;
}

#time-line {
  float: left;
  flex: 1;
  height: 20px;
  background: grey;
  margin-top: 20px;
  align-items: stretch;
  border-radius: 15px;
}

#seeker {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  margin-top: 1px;
  background: grey;
}

#osmd-container {
  max-height: 100%;
  overflow: auto;
  position: relative;
}
